body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulo_crud{
  display: flex;
  justify-content: center;
  align-items: center;
}
#form_crud{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#insertar{
  width: 100px;
  height: 40px; 
  border: none;
  border-radius: 20px; 
  background-color: #0073e6; 
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

#datos_crud{
  display: flex;
  justify-content: center;
  align-items: center;
}

table, td, th{
  border: 2px solid black;
  text-align: center;
  padding: 15px;
}

#editar{
  background-color: rgb(82, 82, 211);
  padding: 2px;
}

#borrar{
  background-color: rgb(235, 25, 25);
  padding: 2px;
}
button{
  border-radius: 2px;
  padding: 10px;
}

