/* EL INDEX.HTML 

/* Reset de márgenes y relleno */
body, h1, ul {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos de la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar-logo img {
  width: 20%;
  height: 20%;
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #16A7DE;
}

/* Estilos del banner */
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus preferencias */
}

.slider {
  display: flex;
  width: 300%; /* Ancho total de los slides (3 imágenes) */
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.333%; /* Ancho de cada slide (33.333% para 3 imágenes) */
}



.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.prev {
  left: 10px; /* Posición a la izquierda del banner */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.next {
  right: 10px; /* Posición a la derecha del banner */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
}

/* Estilos de la sección del calendario e información */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos arriba */
  background-color: #16A7DE;
  padding: 10px;
}

.calendar {
  flex: 1; /* El calendario toma todo el espacio restante */
  background-color: #16A7DE; /* Fondo blanco para la sección del calendario */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  align-content: center;
}

.info {
  flex: 1;
  background-color: #16A7DE;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Estilos adicionales para la sección de información */
.info p {
  font-size: 16px;
  line-height: 1.5;
}

/* Estilos para la sección de comentarios */
#commentSection {
background-color: #f7f7f7;
padding: 20px;
border-radius: 5px;
margin-top: 20px;
}

.comment {
margin: 10px 0;
padding: 10px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {

font-size: 16px;
margin-bottom: 10px;
}

.comment button {
background-color: #007BFF;
color: #fff;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
margin-right: 5px;
}

.comment .likes,
.comment .dislikes {
font-weight: bold;
margin-left: 5px;
}

.comment button:hover {
background-color: #0056b3;
}

.comment textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 10px 0;
}

.comment .edit-buttons {
margin-top: 10px;
}

/* Estilos para el botón de agregar comentario */
#addCommentButton {
background-color: #007BFF;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
margin-top: 10px;
}

#addCommentButton:hover {
background-color: #0056b3;
}

/* Estilos del footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/* EL INDEX.HTML ACABA


/* css del ranking */


form {
 
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
}
h3 {
  color: white;
  font-size: 16px;
}

.campos {
  margin-top: 50px;
  margin-bottom: 5px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
 /* pagina sobre nosotros */
/* Estilos para el encabezado */
#sobre-nosotros h2 {
  font-size: 24px;
  color: #333;
  width: 50%;
}

/* Estilos para los párrafos de texto */
#sobre-nosotros p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Estilos para la lista desordenada */
#sobre-nosotros ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
  color: #666;
}

/* Estilos para los elementos de la lista */
#sobre-nosotros li {
  margin-bottom: 5px;
}

/* Estilos para resaltar la lista de servicios */
#sobre-nosotros ul {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para el objetivo */
#sobre-nosotros p:last-child {
  font-weight: bold;
}

/* Estilos para enlaces */
#sobre-nosotros a {
  color: #0078d4;
  text-decoration: none;
}

#sobre-nosotros a:hover {
  text-decoration: underline;
}

  /* Estilos para el contenedor flexbox */
.flex-container {
  display: flex;
  flex-direction: row; /* Alinea los elementos en fila horizontal */

}

/* Estilos para la columna izquierda (imagen) */
.left-column {
  flex: 1; /* Toma el espacio disponible restante */
  padding: 20px;
}

.left-column img {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
}

/* Estilos para la columna derecha (texto) */
.right-column {
  flex: 2; /* Toma el doble de espacio que la columna izquierda */
  padding: 20px;
}

/* Estilos para el contenedor de historia (banner y contenido) */
#historia {
  display: flex;
  background-color: #0078d4; /* Color de fondo del banner */
  color: #fff; /* Color de texto en el banner */
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para el banner */
.historia-banner {
  flex: 1;
}

/* Estilos para el contenido de la historia */
.historia-contenido {
  flex: 2;
}

/* Estilos para los títulos */
#historia h2 {
  font-size: 32px;
  margin: 0;
}

/* Estilos para los párrafos de texto */
#historia p {
  font-size: 18px;
}

/* Estilos para los emojis */
.emoji {
  font-size: 24px; /* Hace que los emojis sean más grandes */
}
.imagen-columna {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 20px;
  position: relative;
  transform: rotate(-15deg); /* Rota la columna -15 grados */
  transform-origin: top left; /* Establece el origen de la rotación en la esquina superior izquierda */
}

.imagen-columna img {
  width: 120px; /* Ancho de las imágenes */
  height: auto;
  margin: 5px;
  border: 2px solid #0078d4;
  border-radius: 10px;
  transform: rotate(15deg); /* Rota cada imagen 15 grados en sentido contrario */
}

/*PAGINA DE COMPETICIONES:*/

.banner{
  background-color: rgb(71, 211, 246);

}
.banner h1{ 
  margin-top: 140px;
  text-align: start;
  font-size: xx-large;
}
.banner p{ 
  margin-left: 40px;
  text-align: start;
  font-size: x-large;
}
.competiciones{
  display: flex;
  justify-content: center;
  align-items: center;
}

.competiciones table, th, td{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}