<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_main.css">
    <title>Web de Natacion</title>
    <script src="../static/js/script.js"></script>

</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/"><img src="../static/img/logo.png" alt="Logo de Natacion"></a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="/">Calendario</a></li>
                <li><a href="competiciones.html">Competiciones</a></li>
                <li><a href="/ranking">Ranking</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
                <li><a href="IniciarSesion.html">Iniciar Sesión</a></li>
                <li><a href="registrarse.html">Registrarse</a></li>
            </ul>
        </div>
    </div>

    <h1>Consulta de marcas</h1>
    <form action="/ranking" method="POST">
        <label for="pruebas">Competiciones:</label>
        <select id="pruebas" name="competiciones">
            <option value=""></option>
            {% for i in competiciones %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>

        <label for="competiciones">Pruebas:</label>
        <select id="competiciones" name="pruebas">
            <option value=""></option>
            {% for i in pruebas %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
        <button type="submit">Consultar</button>
    </form>
    <div id="ranking">
        <table>
            <thead>
                <th>Competicion</th>
                <th>Nadador</th>
                <th>Prueba</th>
                <th>Tiempo (Min)</th>
            </thead>
            {% for i in resultados %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}} {{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 Web de Natación</p>
            <ul>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>